autogenerated_schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="applicationForm">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="name"/>
        <xs:element type="xs:int" name="lastHash"/>
        <xs:element type="xs:dateTime" name="lastHashModified"/>
        <xs:element type="xs:string" name="description"/>
        <xs:element name="Panel" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="longStringAttribute">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="access"/>
                    <xs:element type="xs:string" name="description"/>
                    <xs:element type="xs:int" name="id"/>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="type"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="stringAttribute">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:byte" name="access"/>
                    <xs:element type="xs:string" name="description"/>
                    <xs:element type="xs:int" name="id"/>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="type"/>
                    <xs:element type="xs:string" name="value"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="clazz"/>
              <xs:element type="xs:byte" name="colSpan"/>
              <xs:element type="xs:byte" name="inGroupIndex"/>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:byte" name="version"/>
              <xs:element type="xs:string" name="xtype"/>
              <xs:element name="FormGroup" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="booleanAttribute" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:byte" name="access"/>
                          <xs:element type="xs:string" name="description"/>
                          <xs:element type="xs:int" name="id"/>
                          <xs:element type="xs:string" name="name"/>
                          <xs:element type="xs:string" name="type"/>
                          <xs:element type="xs:string" name="value"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="numberAttribute">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:byte" name="access"/>
                          <xs:element type="xs:string" name="description"/>
                          <xs:element type="xs:int" name="id"/>
                          <xs:element type="xs:string" name="name"/>
                          <xs:element type="xs:string" name="type"/>
                          <xs:element type="xs:float" name="value"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="stringAttribute">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:byte" name="access"/>
                          <xs:element type="xs:string" name="description"/>
                          <xs:element type="xs:int" name="id"/>
                          <xs:element type="xs:string" name="name"/>
                          <xs:element type="xs:string" name="type"/>
                          <xs:element type="xs:string" name="value"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="longStringAttribute" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:byte" name="access"/>
                          <xs:element type="xs:string" name="description"/>
                          <xs:element type="xs:int" name="id"/>
                          <xs:element type="xs:string" name="name"/>
                          <xs:element type="xs:string" name="type"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element type="xs:string" name="clazz"/>
                    <xs:element type="xs:byte" name="colSpan"/>
                    <xs:element type="xs:byte" name="inGroupIndex"/>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:byte" name="version"/>
                    <xs:element type="xs:string" name="xtype"/>
                    <xs:element name="formField" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:choice maxOccurs="unbounded" minOccurs="0">
                          <xs:element name="longStringAttribute">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:byte" name="access"/>
                                <xs:element type="xs:string" name="description"/>
                                <xs:element type="xs:int" name="id"/>
                                <xs:element type="xs:string" name="name"/>
                                <xs:element type="xs:string" name="type"/>
                                <xs:element type="xs:string" name="value" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="numberAttribute">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:byte" name="access"/>
                                <xs:element type="xs:string" name="description"/>
                                <xs:element type="xs:int" name="id"/>
                                <xs:element type="xs:string" name="name"/>
                                <xs:element type="xs:string" name="type"/>
                                <xs:element type="xs:string" name="value" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="clazz"/>
                          <xs:element type="xs:byte" name="colSpan"/>
                          <xs:element type="xs:byte" name="inGroupIndex"/>
                          <xs:element type="xs:string" name="label"/>
                          <xs:element type="xs:string" name="name"/>
                          <xs:element type="xs:byte" name="version"/>
                          <xs:element type="xs:string" name="xtype"/>
                          <xs:element type="xs:string" name="tooltip"/>
                          <xs:element name="booleanAttribute">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:byte" name="access"/>
                                <xs:element type="xs:string" name="description"/>
                                <xs:element type="xs:int" name="id"/>
                                <xs:element type="xs:string" name="name"/>
                                <xs:element type="xs:string" name="type"/>
                                <xs:element type="xs:string" name="value" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="stringAttribute">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:byte" name="access"/>
                                <xs:element type="xs:string" name="description"/>
                                <xs:element type="xs:int" name="id"/>
                                <xs:element type="xs:string" name="name"/>
                                <xs:element type="xs:string" name="type"/>
                                <xs:element type="xs:string" name="value" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="customAttribute">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:byte" name="access"/>
                                <xs:element type="xs:string" name="description"/>
                                <xs:element type="xs:int" name="id"/>
                                <xs:element type="xs:string" name="name"/>
                                <xs:element type="xs:string" name="type"/>
                                <xs:element type="xs:string" name="value"/>
                                <xs:element type="xs:string" name="xtype"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="arrayAttribute">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:byte" name="access"/>
                                <xs:element type="xs:string" name="description"/>
                                <xs:element type="xs:int" name="id"/>
                                <xs:element type="xs:string" name="name"/>
                                <xs:element type="xs:string" name="type"/>
                                <xs:element type="xs:string" name="value"/>
                                <xs:element type="xs:string" name="xtype" minOccurs="0"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:choice>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>